#capa {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 28px;
  align-items: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://img.freepik.com/fotos-gratis/remix-de-midia-de-campanha-de-energia-sustentavel-segurando-arvore_53876-104824.jpg?w=1380&t=st=1700776592~exp=1700777192~hmac=425cacbf1998525b27a05d5d89b3ffc8983946e3362db7e135d37658d547199a");
}

#projeto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20vh;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-style: italic;
}

h2 {
  font-size: 50px;
  text-align: center;
  background-color: #F1C40F;
  font-style: italic
}

h3 {
  font-size: 30px;
  text-align: center;
  background-color: #F1C40F;

}

p {
  font-size: 22px;
}

#eolica {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nomelegal {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#objetivo7 {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brasil {
  align-items: right;
  display: flex;
  flex-direction: column;
}